*,
::after,
::before {
    @include prefixer(box-sizing, border-box, webkit moz);
}

.container {
    position: relative;
    display: block;
    max-width: 1225px;
    margin: 0 auto;
}

.container-fluid {
    position: relative;
    display: block;
}

.row {
    position: relative;
    @include clearfix();
}

@for $i from 1 through $grid-cols-count {
    @if($i==13 or $i==5 or $i==9) {
        .col-#{$i} {
            float: $left;
            width: (100% / ($grid-cols-count / $i));
        }
    }
}

@include breakpoint(xs) {
    @for $i from 1 through $grid-cols-count {
        @if($i==18) {
            .col-xs-#{$i} {
                float: $left;
                width: (100% / ($grid-cols-count / $i));
            }
        }
    }
}

@include breakpoint(sm) {
    @for $i from 1 through $grid-cols-count {
        @if($i==6) {
            .col-sm-#{$i} {
                float: $left;
                width: (100% / ($grid-cols-count / $i));
            }
        }
    }
}

@include breakpoint(md) {
    @for $i from 1 through $grid-cols-count {
        .col-md-#{$i} {
            float: $left;
            width: (100% / ($grid-cols-count / $i));
        }
    }
}

@include breakpoint(lg) {
    @for $i from 1 through $grid-cols-count {
        .col-lg-#{$i} {
            float: $left;
            width: (100% / ($grid-cols-count / $i));
        }
    }
}